@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/raster/raster2.css?v=20");

:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;

  --fontSize: 14px;
  --lineHeight: calc(var(--fontSize) * 1.75);
}



:root {
  --base: var(--zinc-50);
  --surface: var(--zinc-100);
  --overlay: var(--zinc-200);
  --muted: var(--zinc-500);
  --subtle: var(--zinc-700);
  --text: var(--zinc-900);
  --accent: #1e90ff;
  --on-accent: white;

  --foreground-color: var(--text);
  --background-color: var(--base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: var(--zinc-900);
    --surface: var(--zinc-800);
    --overlay: var(--zinc-700);
    --muted: var(--zinc-500);
    --subtle: var(--zinc-400);
    --text: var(--zinc-200);
    --on-accent: black;
  }
}

html {
  background: var(--background-color);
  color: var(--foreground-color);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--muted);
}

a:hover {
  color: var(--accent);
}

body {
  padding: 0;
}

.container {
  max-width: 80ch;
  padding: 2em;
  margin: 0 auto;
}

.container img {
  max-width: 100%;
  height: 100%;
}

pre.astro-code {
  padding: 1em;
  border-radius: 6px;
  white-space: pre-wrap;
}

code {
  background-color: var(--overlay);
  padding: 0.25em;
  border-radius: 6px;
}

blockquote {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 3px solid var(--overlay);
  color: var(--subtle);
}

pre>code {
  background: transparent;
}

nav>ul {
  display: flex;
  padding: 0px;
  align-items: center;
}

nav>ul>li {
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.post-link .date {
  color: var(--muted);
}

footer {
  max-width: 80ch;
  padding: 2em;
  margin: 0 auto;
  border-top: 1px solid var(--surface);
}

input[type="text"],
input[type="email"] {
  border: 0px;
  padding: 8px;
  border-radius: 2px;
  color: var(--text);
  background: var(--surface);
}


button,
input[type="submit"] {
  background: var(--subtle);
  border: 0;
  padding: 4px 12px;
  border-radius: 2px;
  font-size: var(--fontSize);
  color: var(--overlay);
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}