@import url(https://fonts.bunny.net/css?family=Inter:400,600);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* modification of the nord light colors  */
  --dark: #2e3440;
  --gray: #8c97ac;
  --light: #e9ecf8;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
strong {
  @apply font-semibold;
}

a {
  @apply text-gray hover:text-dark hover:underline;
}

pre {
  @apply border border-light whitespace-pre-wrap rounded-md px-4 py-4;
}

code {
  @apply bg-light text-dark font-mono;
}

pre > code {
  @apply bg-transparent text-dark font-mono;
}

blockquote {
  @apply border-l-light border-l-2 pl-4;
}

ul {
  @apply pl-5;
}

ul > li {
  @apply list-disc;
}
