@import url(https://fonts.bunny.net/css?family=Inter:400,600);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* modification of the nord light colors  */
  --dark: #2e3440;
  --gray: #8c97ac;
  --light: #e9ecf8;
  --bg: #fff;
  --accent: black;
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme]){
    --bg: #181819;
    --light: #333;
    --gray: #898989;
    --dark: #efefef;
    --accent: white;
  }
}

body[data-theme='light'] {
  --dark: #2e3440;
  --gray: #8c97ac;
  --light: #e9ecf8;
  --bg: #fff;
  --accent: black;
}

body[data-theme='dark'] {
  --bg: #181819;
  --light: #333;
  --gray: #898989;
  --dark: #efefef;
  --accent: white;
}

body[data-theme='hacker'] {
  --bg: #181819;
  --light: #27391a;
  --gray: #bfdaab;
  --dark: #98c379;
  --accent: #98c379;
}

body[data-theme='rose-pine'] {
  --bg: #191724;
  --light: #393552;
  --gray: #908caa;
  --dark: #e0def4;
  --accent: #31748f;
}

body[data-theme='rose-pine-dawn'] {
  --bg: #faf4ed;
  --light: #f2e9e1;
  --gray: #797593;
  --dark: #575279;
  --accent: #31748f;
}

body[data-theme='plastic'] {
  --bg: #181a1f;
  --light: #0d1117;
  --gray: #a9b2c3;
  --dark: #c6ccd7;
  --accent: #98c379;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 81.3%; /*13px*/
  background: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
strong {
  @apply font-semibold;
}

a {
  @apply text-gray hover:text-dark hover:underline;
}

pre {
  @apply border border-light rounded-md px-4 py-4 overflow-auto;
}

code {
  @apply bg-light text-dark font-mono;
}

pre > code.hljs {
  @apply bg-transparent text-dark font-mono;
}

blockquote {
  @apply border-l-light border-l-2 pl-4;
}

ul {
  @apply pl-5;
}

ul > li {
  @apply list-disc leading-normal pb-4;
}

th {
  @apply text-left text-gray;
}

.home-nav-button {
  @apply transition-colors duration-150 ease-in-out border flex-1 min-w-fit border-r-0 last:border-r first:rounded-l-md last:rounded-r-md first:after:rounded-l-md last:after:rounded-r-md hover:no-underline rounded-r-none px-4 py-2 border-light text-gray hover:text-dark hover:cursor-pointer relative after:content-[''] after:opacity-0 after:border after:absolute after:-top-[1px] after:-left-[1px] after:-right-[1px] after:z-10 after:-bottom-[1px] after:border-dark hover:after:opacity-100;
}
