<footer>
  <r-grid>
    <r-cell span="row">
      <p class="m-0 p-0">
        The code for this site is
        <a href="https://github.com/barelyhuman/reaper.im" class=""> MIT </a>
      </p>
      <p class="m-0 p-0">
        Content is
        <a class="" href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>. Attribute to
        <a class="underline text-muted hover:text-text" href="https://reaper.is">Reaper</a>
      </p>
    </r-cell>
  </r-grid>
</footer>