---
  const { hideName } = Astro.props
---

<nav class="">
  <r-grid columns="12">
    {hideName?null:
    <r-cell span="row">
      <a class="" href="/">
        <h4>Reaper</h4>
      </a>
      <div class="">
        <small>Minimalist • Developer</small>
      </div>
    </r-cell>
    }
  </r-grid>
  <ul>
    <li>
      <a class="" href="/writing"> Writing </a>
    </li>
    <li>
      <a class="" href="/uses"> Uses </a>
    </li>
    <li>
      <a class="" href="https://github.com/barelyhuman" target="_blank">
        Github &#8599;
      </a>
    </li>
  </ul>
</nav>