.task-item {
  margin: 0px;
  margin-right: 8px;
  vertical-align: bottom;
}

pre {
  overflow: auto;
  padding: 8px;
  background: var(--bg-lighter);
  border-radius: 4px;
}

img {
  max-width: 100%;
  border: 2px solid black;
  border-radius: 4px;
}

code {
  color: var(--fg-light);
}

blockquote {
  padding: 1em 2em;
  background-color: var(--bg-lighter);
}
