@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");

.task-item {
  margin: 0px;
  margin-right: 8px;
  vertical-align: middle;
}

pre {
  overflow: auto;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid var(--fg);
}

img {
  max-width: 100%;
  border: 2px solid black;
  border-radius: 4px;
}

pre > code {
  font-family: "Hack", monospace;
  line-height: normal;
  font-style: normal;
}

blockquote {
  padding: 1em 2em;
  border-left: 4px solid var(--fg);
}

strong,
code {
  font-family: "Lora", serif;
  font-style: italic;
}
