nav > a {
  display: inline-block;
}

.list-style-none {
  list-style-type: none;
}

.logo-holder {
  background-image: url("/assets/dark-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 74px;
  width: 74px;
  -o-object-fit: contain;
  object-fit: contain;
}

.icon svg {
  height: 16px;
  width: 16px;
}

@media (prefers-color-scheme: dark) {
  .logo-holder {
    background-image: url("/assets/light-logo.png");
  }
}
