.list-style-none {
  list-style-type: none;
}

.tagline {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
  font-style: italic;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

p.large {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

p.small {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

button {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.21em;
  text-align: left;
}

.title {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: var(--fg);
}

.nav-link:hover {
  color: var(--fg);
}

.nav-link:not(:last-child) {
  margin-right: 16px;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  background: var(--fg);
  width: 0px;
  height: 2px;
  -webkit-transition: width 250ms ease;
  -o-transition: width 250ms ease;
  transition: width 250ms ease;
}

.nav-link:hover::after {
  width: 100%;
}

button {
  min-width: 114px;
  height: 40px;
  padding-left: 14px;
  padding-right: 14px;
  background: var(--fg);
  color: var(--bg);
  border: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  background: var(--bg);
  width: 0px;
  height: 2px;
  -webkit-transition: width 250ms ease;
  -o-transition: width 250ms ease;
  transition: width 250ms ease;
}

button:hover::after {
  width: 80%;
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  height: 48px;
  background: var(--bg-lighter);
  color: var(--fg);
  border-radius: 16px;
  border: 0px;
  min-width: 250px;
  padding: 4px 14px;
  outline: #000;
  font-size: 14px;
  line-height: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  background: var(--color-black-3);
}

pre {
  overflow: auto;
  padding: 8px;
  background: var(--bg-lighter);
  border-radius: 4px;
}
