@import url("https://unpkg.com/zinccolors@0.0.1/css/zinc.min.css");
@import url("https://rsms.me/inter/inter.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  /* the brightest color */
  --bright: var(--zinc-50);
  /* the darkest color */
  --dark: var(--zinc-900);

  /* set of colors that control visual elements */
  --base: var(--zinc-900);
  --surface: var(--zinc-800);
  --text: var(--zinc-400);
  --dim: var(--zinc-500);
  --dimmer: var(--zinc-600);
  --accent: #4f46e5;
  --success: #98c379;

  /* fonts */
  --font: "Inter", sans-serif;
}

body {
  background-color: var(--base);
  color: var(--text);
  max-width: 900px;
  font-family: var(--font);
  margin: 0 auto;
  padding: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: var(--bright);
}

p,
article,
main {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16px * 1.5);
  margin: 8px 0px;
  padding: 0px;
}

.text-dim {
  color: var(--dim);
}

.text-dimmer {
  color: var(--dimmer);
}

code {
  font-family: monospace;
  display: inline-block;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  background: var(--surface);
}

pre.code {
  padding: 8px;
  background: var(--surface);
  border-radius: 4px;
}
pre.code > code {
  background: none;
}

.nullify-space {
  margin: 0;
  padding: 0;
}

.no-underline {
  text-decoration: none;
}

.m-0 {
  margin: 0px;
}

.m-0\.5 {
  margin: 4px;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

ul > li {
  margin: 8px;
}

.flex {
  display: flex;
}

.align-end {
  align-items: flex-end;
}

.flex-col {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.wipe-in-right {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
}

.min-h-100 {
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    /* the brightest color */
    --bright: var(--zinc-50);
    /* the darkest color */
    --dark: var(--zinc-900);

    /* set of colors that control visual elements */
    --base: var(--zinc-100);
    --surface: var(--zinc-200);
    --text: var(--zinc-700);
    --dim: var(--zinc-600);
    --dimmer: var(--zinc-500);
  }

  a:hover {
    color: var(--dark);
  }
}
