{{define "blogIndexHTML"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    {{template "metaHTML" .}}
    <title>Reaper's Blog</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      rel="stylesheet"
      href="../styles/extras.css"
      media="print"
      onload="this.media='all'"
    />
  </head>
  <body>
    <div class="logo-container"></div>
    <main class="flex flex-center flex-col container-boundaries">
      <div>
        <h1 id="index-title"></h1>
        <ul class="p-0">
          {{range .Files}}
          <li class="list-style-none">
            <a href="/{{.Slug}}"> {{.Title}} </a>
            <p class="m-0 p-0 serif">
              <small> {{.Date.Format "02/01/2006"}} </small>
            </p>
          </li>
          {{end}}
        </ul>
      </div>
    </main>
    {{template "footerHTML" .}}
  </body>
  <script>
    var titleContainer = document.getElementById("index-title");
    var title = window.location.pathname
      .replace(/\//g, "")
      .replace("index.html", "")
      .replace(/\.html/, "");

    // HACK: since it won't be shown when rendered without JS anyway
    if (title.toLowerCase() === "posts") {
      title = "Writing";
    }

    title = title.split(" ");
    for (var i = 0; i < title.length; i++) {
      title[i] = title[i].charAt(0).toUpperCase() + title[i].slice(1);
    }

    titleContainer.innerHTML = title.join(" ");
  </script>
</html>
{{end}}
