{{define "blogPostHTML"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Meta.Title}}</title>
    <link
      rel="stylesheet"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      href="../styles/blog-extras.css"
    />
  </head>
  <body>
    {{template "headerHTML" .}}
    <main class="container-boundaries">
      <article>
        <h1>{{.Meta.Title}}</h1>
      </article>
      {{.Content}}
    </main>
  </body>
</html>
{{end}}
