{{define "headerHTML"}}
<header class="container-boundaries">
  <div class="flex flex-center">
    <div>
      <h3>
        Reaper
        <br />
        <small class="fw-normal no-wrap"
          >Minimalist | Developer | Designer</small
        >
      </h3>
      <a href="/" class="mr-2">Home</a>
      <a href="/about.html" class="mr-2">About</a>
      <a href="/posts/index.html" class="mr-2">Blog</a>
      <a href="/skills.html" class="mr-2">Skills</a>
      <a href="https://github.com/barelyhuman" class="mr-2">Projects</a>
      <a href="/social.html" class="mr-2">Social</a>
      <a href="/misc.html" class="mr-2">Misc</a>
    </div>
    <div class="ml-auto">
      <button id="darkModeToggle" class="no-border icon"></button>
    </div>
  </div>
</header>
{{end}}
