{{define "headerHTML"}}
<header class="container-boundaries p-2">
  <div>
    <div>
      <h3 class="text-center">
        Reaper
        <br />
        <small class="fw-normal no-wrap"
          >Minimalist | Developer | Designer</small
        >
      </h3>
    </div>
    <nav class="mt-3">
      <a href="/" class="button no-border mr-2 mb-2">Home</a>
      <a href="/about.html" class="button no-border mr-2 mb-2">About</a>
      <a href="/posts/index.html" class="button no-border mr-2 mb-2">Blog</a>
      <a href="/skills.html" class="button no-border mr-2 mb-2">Skills</a>
      <a href="/projects.html" class="button no-border mr-2 mb-2">Projects</a>
      <a href="/newsletter.html" class="button no-border mr-2 mb-2"
        >Newsletter</a
      >
    </nav>
  </div>
</header>
{{end}}
