{{define "metaHTML"}}
<!-- Primary Meta Tags -->
<title>Reaper</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="title" content="reaper" />
<meta
  name="description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/apple-touch-icon.png"
/>
<link
  rel="alternate icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon-32x32.png"
/>
<link
  rel="icon"
  type="alternate image/png"
  sizes="16x16"
  href="/assets/favicon-16x16.png"
/>
<link rel="manifest" href="/assets/site.webmanifest" />
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#333333" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<meta name="msapplication-TileColor" content="#2d89ef" />
<meta name="msapplication-config" content="/assets/browserconfig.xml" />
<meta name="theme-color" content="#ffffff" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://reaper.im/" />
<meta property="og:title" content="Reaper" />
<meta
  property="og:description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>
<meta property="og:image" content="https://reaper.im/assets/og-dark.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://reaper.im/" />
<meta property="twitter:title" content="Reaper " />
<meta
  property="twitter:description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>
<meta property="twitter:image" content="https://reaper.im/assets/og-dark.png" />
{{end}}
