{{define "metaHTML"}}
<!-- Primary Meta Tags -->
<title>reaper</title>
<meta name="title" content="reaper " />
<meta
  name="description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>

<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://reaper.im/" />
<meta property="og:title" content="Reaper" />
<meta
  property="og:description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>
<meta property="og:image" content="https://reaper.im/assets/og-dark.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://reaper.im/" />
<meta property="twitter:title" content="Reaper " />
<meta
  property="twitter:description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>
<meta property="twitter:image" content="https://reaper.im/assets/og-dark.png" />
{{end}}
