{{define "simplePageHTML"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{template "metaHTML" .}}
    <link rel="icon" type="image/png" href="/assets/rounded-dark.png" />
    <title>Reaper | {{.Meta.Title}}</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      rel="stylesheet"
      href="../styles/extras.css"
      media="print"
      onload="this.media='all'"
    />
  </head>
  <body>
    <div class="logo-container"></div>
    <main class="flex flex-center flex-col container-boundaries container">
      <div>{{.Content}}</div>
    </main>
    {{template "footerHTML" .}}
  </body>
</html>
{{end}}
