---
import dateParser, { sortPost } from '../../api/posts';
import Page from "../../layouts/Page.astro";
import { format } from 'date-fns';

let posts = await Astro.glob("./*.md");
posts = posts.sort(sortPost).filter(x => !x.frontmatter.rss_only)
---

<Page>
  <ul class="space-y-2 m-0 p-0 mt-4">
    {posts.map(post=>(
    <li class="post-link">
      <p class="date">
        {format(dateParser(post.frontmatter.date),"dd-MM-yyyy")}
      </p>
      <a href={post.url}>{post.frontmatter.title}</a>
    </li>
    )) }
  </ul>
</Page>