---
import dateParser, { sortPost } from '../../api/posts';
import Page from "../../layouts/Page.astro";
import { format } from 'date-fns';

let posts = await Astro.glob("./*.md");
posts = posts.sort(sortPost)
---

  
<Page>
  <ul class="mt-4 space-y-2">
    {posts.map(post=>(
    <li>
      <p class="post-link">
        <span class="date">{format(dateParser(post.frontmatter.date),"dd-MM-yyyy")} - </span>
        <a href={post.url}>{post.frontmatter.title}</a>
      </p>
    </li>
    )) }
  </ul>
</Page>
